{% extends "./layouts/standard.html.twig" %}

{% block title %} Contact Me! {% endblock %}

{% block content %}

    <div>
        <div class="container mx-auto">
            <div class="py-16 lg:py-20">
                <div>
                    <img src="{{ absolute_url("assets/img/icon-contact.png") }}" alt="icon envelope" />
                </div>
                <h1
                class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
                >
                Contact
                </h1>
                <div class="pr-2 pt-3 sm:pt-0">
                    <p class="font-body text-xl font-light text-primary dark:text-white">
                        Got a question or proposal, or just want to say hello? Go ahead. You know what to do.
                    </p>
                </div>
                {{ form_start(form, {'attr': {'class': 'pt-16'}}) }}
                    {{ form_errors(form) }}

                    <div class="flex flex-col sm:flex-row">
                        <div class="w-full sm:mr-3 sm:w-1/2">
                            {{ form_label(form.name, 'Your Name', {'label_attr': {'class': 'block pb-3 font-body font-medium text-primary dark:text-white'}}) }}
                            {{ form_widget(form.name, {'attr': {'placeholder': 'John Doe', 'class': 'w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:text-white'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="w-full pt-6 sm:ml-3 sm:w-1/2 sm:pt-0">
                            {{ form_label(form.email, 'Email Address', {'label_attr': {'class': 'block pb-3 font-body font-medium text-primary dark:text-white'}}) }}
                            {{ form_widget(form.email, {'attr': {'placeholder': 'mail@example.com', 'class': 'w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:text-white'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>

                    <div class="w-full pt-6 sm:pt-10">
                        {{ form_label(form.message, 'Message', {'label_attr': {'class': 'block pb-3 font-body font-medium text-primary dark:text-white'}}) }}
                        {{ form_widget(form.message, {'attr': {'placeholder': 'Your message to me', 'rows': 8, 'class': 'w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:text-white'}}) }}
                        {{ form_errors(form.message) }}
                    </div>

                    {{ form_widget(form._token) }} <!-- Add CSRF token field -->

                    {{ form_row(form.save, { 'label': 'Send Message', 'attr': {'class' : 'mt-10 mb-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl'} }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}