{% extends "./layouts/standard.html.twig" %}

{% block title %} Homepage {% endblock %}

{% block content %}

    <div>
        <div class="container mx-auto">
            <div class="border-b border-grey-lighter py-16 lg:py-20">
                <div>
                    <img src="{{ asset("assets/img/author.png") }}" class="h-32 w-32" alt="author" />
                </div>
                <h1
                class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
                >
                Hi, I’m Michael Dodd.
                </h1>
                <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
                A software developer with {{ years }} years of experience, living happily on the coast in Plymouth, UK. I have had the opportunity to work with a variety of languages and technologies and frameworks. This diverse skillset has enabled me to tackle a wide range of projects and challenges, and improve my ability to create efficient, scalable, and user-friendly applications by choosing the right tech stack to meet the requirements of any project. I have always been driven by a passion for technology and the latest developments. I am always looking for new learning opportunities, to enhance my existing skills or to learn something new.
                </p>
                <a
                href="/contact"
                class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold border-secondary border-2 text-white transition-colors hover:border-green hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
                >
                Say Hello!
                </a>

                <a
                href="https://github.com/mdoddzz" target="_blank"
                class="mt-12 block px-8 py-4 text-center font-body text-xl font-semibold border-secondary border-2 text-primary transition-colors hover:bg-secondary hover:text-white sm:inline-block sm:text-left sm:text-2xl dark:text-white"
                >
                    Visit my GitHub
                </a>
            </div>

            <div class="border-b border-grey-lighter py-16 lg:pt-20 lg:pb-12">
                <div class="flex items-center pb-6">
                    <img src="{{ asset("assets/img/icon-uses.png") }}" alt="icon tech stack" class="h-8 w-16"  />
                    <h3
                        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
                    >
                        Tech Stack
                    </h3>
                </div>
                <div>

                    <div class="flex flex-row flex-wrap justify-center">
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/php.png") }}" class="h-16" alt="PHP Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/js.png") }}" class="h-16" alt="JS Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/typescript.png") }}" class="h-16" alt="TSy Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/html5.png") }}" class="h-16" alt="HTML Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/css.png") }}" class="h-16" alt="CSS Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/react.png") }}" class="h-16" alt="React Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/go.png") }}" class="h-16" alt="Golang Logo" />
                        </div>
                         <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/MySQL.png") }}" class="h-16" alt="MySQL Logo" />
                        </div>
                        <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4 pt-8">
                            <img src="{{ asset("assets/img/tech/mongodb.png") }}" class="h-8" alt="MongoDB Logo" />
                        </div>
                         <div class="lg:basis-1/6 basis-2/6 flex flex-col items-center p-4">
                            <img src="{{ asset("assets/img/tech/docker.png") }}" class="h-16" alt="Docker Logo" />
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="py-16 lg:py-20">
                <div class="flex items-center pb-6">
                    <img src="/assets/img/icon-blog.png" alt="icon blog" class="h-8 w-12"/>
                    <h3
                        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
                    >
                        My Blog
                    </h3>
                    <a
                        href="/blog"
                        class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
                    >
                        All posts
                        <img
                        src="/assets/img/long-arrow-right.png"
                        class="ml-3"
                        alt="arrow right"
                        />
                    </a>
                </div>
                <div class="pt-8">
                    <div class="border-b border-grey-lighter pb-8">
                        <span
                        class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
                        >category</span
                        >
                        <a
                        href="/post"
                        class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                        >Quis hendrerit dolor magna eget est lorem ipsum dolor sit</a
                        >
                        <div class="flex items-center pt-4">
                            <p class="pr-2 font-body font-light text-primary dark:text-white">
                                July 19, 2020
                            </p>
                            <span class="font-body text-grey dark:text-white">//</span>
                            <p class="pl-2 font-body font-light text-primary dark:text-white">
                                4 min read
                            </p>
                        </div>
                    </div>
                    <div class="border-b border-grey-lighter pt-10 pb-8">
                        <div class="flex items-center">
                            <span
                                class="mb-4 inline-block rounded-full bg-grey-light px-2 py-1 font-body text-sm text-blue-dark"
                                >category</span
                            >
                            <span
                                class="mb-4 ml-4 inline-block rounded-full bg-yellow-light px-2 py-1 font-body text-sm text-yellow-dark"
                                >category</span
                            >
                        </div>
                        <a
                        href="/post"
                        class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                        >Senectus et netus et malesuada fames ac turpis egestas integer</a
                        >
                        <div class="flex items-center pt-4">
                            <p class="pr-2 font-body font-light text-primary dark:text-white">
                                June 30, 2020
                            </p>
                            <span class="font-body text-grey dark:text-white">//</span>
                            <p class="pl-2 font-body font-light text-primary dark:text-white">
                                5 min read
                            </p>
                        </div>
                    </div>
                    <div class="border-b border-grey-lighter pt-10 pb-8">
                        <span
                        class="mb-4 inline-block rounded-full bg-blue-light px-2 py-1 font-body text-sm text-blue"
                        >category</span
                        >
                        <a
                        href="/post"
                        class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                        >Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies</a
                        >
                        <div class="flex items-center pt-4">
                            <p class="pr-2 font-body font-light text-primary dark:text-white">
                                June 26, 2020
                            </p>
                            <span class="font-body text-grey dark:text-white">//</span>
                            <p class="pl-2 font-body font-light text-primary dark:text-white">
                                3 min read
                            </p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="py-16 lg:pb-20">
                <div class="flex items-center pb-6">
                    <img src="{{ asset("assets/img/icon-project.png") }}" alt="icon story" class="h-8 w-6"  />
                    <h3
                        class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
                    >
                        My Projects
                    </h3>
                </div>
                <div>
      
                    <a
                        href="https://github.com/mdoddzz/f1-scraper-go" target="_blank"
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
                        <div class="w-9/10 pr-8">
                            <h4
                                class="font-body text-lg font-semibold text-primary dark:text-white"
                            >
                                f1-scraper-go
                            </h4>
                            <p class="font-body font-light text-primary dark:text-white">
                                A golang scraper to get all the archive data from the F1 official site.
                            </p>
                        </div>
                        <span class="w-1/10">
                            <img src="{{ asset("assets/img/chevron-right.png") }}" class="mx-auto" alt="chevron right" />
                        </span>
                    </a>
      
                    <a
                        href="/"
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
                        <div class="w-9/10 pr-8">
                            <h4
                                class="font-body text-lg font-semibold text-primary dark:text-white"
                            >
                                Personal Site
                            </h4>
                            <p class="font-body font-light text-primary dark:text-white">
                                This site that is used to show off my skills and add my online presence.
                            </p>
                        </div>
                        <span class="w-1/10">
                            <img src="{{ asset("assets/img/chevron-right.png") }}" class="mx-auto" alt="chevron right" />
                        </span>
                    </a>
      
                    <a
                        href="https://github.com/mdoddzz/mdevz-tools" target="_blank"
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
                        <div class="w-9/10 pr-8">
                            <h4
                                class="font-body text-lg font-semibold text-primary dark:text-white"
                            >
                                mDevz Tools
                            </h4>
                            <p class="font-body font-light text-primary dark:text-white">
                                A site with a few tools that make life easier for developers and general internet users.
                            </p>
                        </div>
                        <span class="w-1/10">
                            <img src="{{ asset("assets/img/chevron-right.png") }}" class="mx-auto" alt="chevron right" />
                        </span>
                    </a>
      
                    <a
                        href="https://github.com/mdoddzz/mdevz-tools-api" target="_blank"
                        class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
                    >
                        <div class="w-9/10 pr-8">
                            <h1
                                class="font-body text-lg font-semibold text-primary dark:text-white"
                            >
                                mDevz Tools API
                            </h1>
                            <p class="font-body font-light text-primary dark:text-white">
                                The API that handles the backend for the mDevz tools site.
                            </p>
                        </div>
                        <span class="w-1/10">
                            <img src="{{ asset("assets/img/chevron-right.png") }}" class="mx-auto" alt="chevron right" />
                        </span>
                    </a>
      
                </div>
            </div>
        </div>
    </div>

{% endblock %}